[Unit]
Description=Service 1 for Access Barrier
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=admin
ExecStart=/usr/bin/python3 /home/pi/fhnw-iot-project-corrado-elias/run1.py

[Install]
WantedBy=multi-user.target
